@viewport {
	width: device-width;
	zoom: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
.m-1 {
	margin: 1rem;
}
.m-1 {
	margin: 1rem 0;
}
.p-1 {
	padding: 1rem;
}
.py-1 {
	padding: 1rem 0;
}
.m-2 {
	margin: 2rem;
}
.m-2 {
	margin: 2rem 0;
}
.p-2 {
	padding: 2rem;
}
.py-2 {
	padding: 2rem 0;
}
.m-3 {
	margin: 3rem;
}
.m-3 {
	margin: 3rem 0;
}
.p-3 {
	padding: 3rem;
}
.py-3 {
	padding: 3rem 0;
}
.m-4 {
	margin: 4rem;
}
.m-4 {
	margin: 4rem 0;
}
.p-4 {
	padding: 4rem;
}
.py-4 {
	padding: 4rem 0;
}
.m-5 {
	margin: 5rem;
}
.m-5 {
	margin: 5rem 0;
}
.p-5 {
	padding: 5rem;
}
.py-5 {
	padding: 5rem 0;
}
input {
	background-color: royalblue;
}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
	margin-left: 0;
	margin-top: 2rem;
	margin-bottom: 3rem;
	padding-right: 0;
}
.box {
	margin: 0;
	padding: 10px;
}
.side-todo {
	border: #dc3545;
	border-style: groove;
	margin: 0;

	text-align: center;
}
.x-large {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.lead {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.text-primary {
	color: #17a2b8;
}
.bg-primary {
	background-color: #17a2b8;
	color: #fff;
}
.bg-light {
	background-color: #f4f4f4;
	color: #333;
	border: #ccc 1px solid;
}
.bg-dark {
	background-color: #343a40;
	color: #fff;
}
.bg-success {
	background-color: #28a745;
	color: #fff;
}
.bg-danger {
	background-color: #dc3545;
	color: #333;
}
.bg-white {
	background-color: #fff;
	color: #333;
	border: #ccc 1px solid;
}
.btn {
	display: inline-block;
	background-color: none;
	color: #fff;
	padding: 0.4rem 1.3rem;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	margin-right: 0.5rem;
	outline: none;
	transition: all 0.5s ease-in-out;
}
.btn.btn-primary {
	background: none;
	color: orangered;
}

.btn.btn-dark {
	background-color: #343a40;
	color: #fff;
}

.btn.btn-sucess {
	background-color: #28a745;
	color: #fff;
}
.btn.btn-sucess:hover {
	background: #71dd8a;
}
.btn.btn-danger {
	background-color: #dc3545;
	color: #333;
}
.btn.btn-danger:hover {
	background: #efa2a9;
}
.btn:hover {
	background: #4b545c;
	color: #fff;
}
.dark-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}
.form-group {
	margin: 1.2rem 0;
	color: ivory;
}
.form-text {
	display: block;
	margin-top: 0.3rem;
	color: black;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='number'],
.form select,
.form textarea {
	background: inherit;
	display: flex;
	width: auto;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: solid;
	border-color: darkgreen;
	justify-content: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: turquoise;
	color: #fff;
}
a {
	text-decoration: none;
	color: #17a2b8;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem 2rem;
	position: fixed;
	background-color: brown;
	z-index: 1;
	width: 100%;
	top: 0;
	border-bottom: solid 1px firebrick;
	opacity: 0.8;
}
.navbar ul {
	display: flex;
}
.navbar a {
	color: white;
	padding: 0.45rem;
	margin: 0 0.25rem;
}
.navbar a:hover {
	color: #17a2b8;
}
.form-section {
	background: url('./img/form-bg-1.jpg') no-repeat center center/cover;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	height: 100vh;
	padding: 5rem;
}
.form-sign:hover {
	background-color: darkmagenta;
}
.table-btn {
	display: inline-block;
	background: lightcoral;
	color: #333;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
}
.table-btn:hover {
	color: lightgreen;
	background: maroon;
}
.landing {
	position: relative;

	background: url('./img/bg-1.jpg') no-repeat center center/cover;
	height: 100vh;
}

.landing-inner {
	color: white;
	padding-top: 10rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* Mobile Styles */
@media (max-width: 700px) {
	.side-todo {
		display: block;
		width: 100%;
	}
	.form-section {
		padding-top: 10rem;
	}
	body {
		background-color: rosybrown;
	}
	.container {
		color: black;
		margin-top: 3rem;

		display: flex;
		flex-direction: column;
	}
	.landing-inner {
		margin-top: 2rem;
	}
	.form {
		margin-top: 2rem;
	}
	body {
		background-color: white;
	}

	.hide-sm {
		display: none;
	}

	/* Text Styles */
	.x-large {
		font-size: 3rem;
	}

	.large {
		font-size: 2rem;
	}

	.lead {
		font-size: 1rem;
	}

	/* Navbar */
	.navbar {
		display: block;
		text-align: center;
	}

	.navbar ul {
		text-align: center;
		justify-content: center;
	}

	.navbar h1 {
		margin-bottom: 1rem;
	}

	.navbar .welcome {
		display: none;
	}

	/* Profiles Page */
	.profile {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.profile ul {
		display: none;
	}

	/* Profile Page */

	.profile-top img,
	.profile img {
		width: 200px;
		margin: auto;
	}

	.profile-grid {
		grid-template-areas:
			'top'
			'about'
			'exp'
			'edu'
			'github';
	}

	.profile-about .skills {
		flex-direction: column;
	}
	.todo-top {
		display: flex;
		padding-top: 0;
		flex-direction: column;
		text-align: center;
	}
	.dash-buttons a {
		display: block;
		width: 100%;
		margin-bottom: 0.2rem;
	}

	.post {
		grid-template-columns: 1fr;
	}
	.post a,
	.post button {
		padding: 0.3rem 0.4rem;
	}
	.btn {
		background: none;
		color: #dc3545;
		border-top: #efa2a9;
		border-style: groove;
	}
	.btn:hover {
		color: black;
	}
}
